body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

#nuevoraton {
    text-align: center;
}

div.panel-heading {
    text-align: center;
    font-size: 20px;
}

form {
    text-align: center;
}
